<?xml version="1.0" encoding="utf-8"?>
<Database>
    <!-- Crises -->
	<Crises>
		<Row AgeCrisisEventType="ANTIQUITY_CRISIS_FAMINE" AgeType="AGE_ANTIQUITY" Category="LOC_CRISIS_TITLE_AGE_ANTIQUITY" Name="LOC_ANTIQUITY_FAMINE_CRISIS_NAME" Description="LOC_ANTIQUITY_FAMINE_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="ANTIQUITY_CRISIS_SUCCESSION" AgeType="AGE_ANTIQUITY" Category="LOC_CRISIS_TITLE_AGE_ANTIQUITY" Name="LOC_ANTIQUITY_SUCCESSION_CRISIS_NAME" Description="LOC_ANTIQUITY_SUCCESSION_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="EXPLORATION_CRISIS_ISOLATIONISM" AgeType="AGE_EXPLORATION" Category="LOC_CRISIS_TITLE_AGE_EXPLORATION" Name="LOC_EXPLORATION_ISOLATIONISM_CRISIS_NAME" Description="LOC_EXPLORATION_ISOLATIONISM_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="EXPLORATION_CRISIS_INFLATION" AgeType="AGE_EXPLORATION" Category="LOC_CRISIS_TITLE_AGE_EXPLORATION" Name="LOC_EXPLORATION_INFLATION_CRISIS_NAME" Description="LOC_EXPLORATION_INFLATION_CRISIS_DESCRIPTION" />
	</Crises>
</Database>